@{
    Layout = null;
}

<div id="comment_form">
    <h3>Leave a comment</h3>
    <form action="@Url.Action("FullPost", "Home")" method="post">
        <div class="form_row">
            <label><strong>Name</strong> (required)</label>
            <br />
            <input type="text" name="name" />
        </div>
        <div class="form_row">
            <label><strong>Comment</strong></label>
            <br />
            <textarea name="comment"></textarea>
        </div>
        <input type="submit" name="Submit" value="Submit" class="submit_btn" />
    </form>
</div> <!-- end of add comment -->
