@model BlogMain.Models.MainPost

@if (@HttpContext.Current.User.Identity.Name == "Admin")
{
    <div id="templatemo_main">
        <h2>Начинаем писать новый пост!</h2>
        <div id="comment_form">
            <form action="@Url.Action("AdminPanel", "Home")" method="post">
                <div class="form_row">
                    <label><strong>Title</strong></label>
                    <br />
                    <input type="text" name="name" />
                </div>
                <div class="form_row">
                    <label><strong>Body</strong></label>
                    <br />
                    <textarea name="comment"></textarea>
                </div>
                <input type="submit" name="Submit" value="Submit" class="submit_btn" />
            </form>
        </div> <!-- end of add comment -->
    </div>
}
else
{
    <div id="templatemo_main">
        <h2>Подтверди, что ты АДМИН!</h2>
        <div id="comment_form">
            <form action="@Url.Action("Autorise", "Home")" method="post">
                <div class="form_row">
                    <label><strong>Name</strong></label>
                    <br />
                    <input type="text" name="name" />
                </div>
                <div class="form_row">
                    <label><strong>Password</strong></label>
                    <br />
                    <input type="text" name="password" />
                </div>
                <input type="submit" name="Submit" value="Submit" class="submit_btn" />
            </form>
        </div>
    </div>
}