@model BlogMain.Models.MainPost

<div id="templatemo_main">
    <div id="comment_form">
        <form action="@Url.Action("Autorise", "Home")" method="post">
            <div class="form_row">
                <label><strong>Name</strong></label>
                <br />
                <input type="text" name="name" />
            </div>
            <div class="form_row">
                <label><strong>Password</strong></label>
                <br />
                <input type="text" name="password" />
            </div>
            <input type="submit" name="Submit" value="Submit" class="submit_btn" />
        </form>
    </div>
</div>